.task-list {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  justify-items: flex-start;
}

/*
para mobile
grid-template-columns: repeat(auto-fit, minmax(min-content, 300px));
*/

.task-container {
  width: 100%;
  position: relative;
}
